@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  vertical-align: middle;

  background-color: #ffffff;
  border: none;
}

.button:hover,
.button:focus {
  color: #000000;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.service-button:active {
  color: #f7e184;
  background-color: #000000;
}

.main-header {
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #f7e296;
}

.main-header a {
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header ul {
  list-style: none;
}

.search-open {
  opacity: 0.3;
}

.search-open:hover {
  opacity: 0.6;
}

.search-open:focus {
  opacity: 1;
}

.site-navigation li {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f7e296;
}

.header-catalog-menu {
  background-color: #f7e184;
  line-height: 30px;
}

.about-us-title,
.contacts-title {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  text-align: left;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
  border: none;
}

.transport-list a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;

  background-color: #ffffff;
  border: none;
}

.main-footer {
  color: #ffffff;
  letter-spacing: 0.01em;

  background-color: #464646;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.main-footer ul {
  list-style: none;
}

.footer-user-navigation a {
  color: #ffffff;
  opacity: 0.7;
  background-color: #464646;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}
.middle-menu a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #464646;
}

.middle-menu a:hover,
.middle-menu a:focus
 {
  opacity: 0.6;
}

.middle-menu a:active
 {
  opacity: 0.3;
}

.footer-copyright a:hover,
.footer-copyright a:focus
 {
  opacity: 0.6;
}

.footer-copyright a:active
 {
  opacity: 0.3;
}

.modal-write-us {
  color: #000000;
  background-color: #ffffff;
}

.write-us-form label {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;

  background-color: #ffffff;
  border: none;
}

.write-us-form input {
  font-family: "open_sansregular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
}

/* .login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
} */
