/*
* {
  background: rgba(0, 255, 0, 0.13);
} */



@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title,
.services-item h3,
.about-us-title,
.contacts-title {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  text-align: left;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
  border: none;
}

/* ---------- Кнопки ---------- */
.button {
  position: relative;
  display: block;

  box-sizing: border-box;
  width: 260px;
  height: 40px;

  margin: 0;
  padding: 0;

  padding-top: 12px;

  z-index: 1;

  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ffffff;
  border: none;

  /* Временно */
  /* outline: 1px solid gray; */
}

.button::before {
  content: "";

  position: absolute;
  width: inherit;
  height: 8px;
  top: 16px;
  left: 0;

  z-index: -1;

  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before
 {
  transform: scaleY(5);
  transition-duration: 0.25s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -------------------- */

.slider-item-button {
  width: 220px;
  margin-top: 45px;
}

.services-button {
  width: 160px;
  margin-bottom: 24px;
  background-color: transparent;
}

.about-us-button {
  width: 260px;
  margin-top: 53px;
}

.write-us-button {
  width: 260px;
  margin-top: 58px;
}

/* Кнопки всплывающих окон */
.email-send-button {
  padding-top: 0;

  cursor: pointer;
}

/* Кнопки страницы каталога */
.filter-button {
  background-color: #eeeeee;
}



.container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  box-sizing: border-box;
  padding: 0 80px;

  margin-top: 24px;
  /* Временно для сетки */
  min-height: 203px;

  box-shadow:
  0 18px #ffffff inset,
  20px 0 #ffffff inset,
  -20px 0 #ffffff inset;
}


.main-header-logo-block {
  /* width: 1160px; */
  height: 35px;
  margin-bottom: 18px;
}

.main-header {
  /* position: relative; */

  color: #000000;
  letter-spacing: 0.01em;

  background-color: #f7e296;
}

.main-header a {
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header ul {
  list-style: none;
}

.main-navigation {
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: top;
  min-height: 49px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  list-style: none;
}

.user-navigation li:not(:first-child) {
  margin-top: 8px;
}

.search-block {
  width: 440px;
}

.search-form {
  width: 440px;
  display: flex;

  margin: 0;
  padding: 0;
}

.search-input {
  box-sizing: border-box;
  width: 355px;
  height: 49px;

  /* padding-bottom: 13px; */
  padding-left: 40px;
  padding-right: 20px;

  color: #000000;

  vertical-align: middle;

  border: none;
  box-shadow: 0 -2px 0 0 #000000 inset;

  background-image: url("../img/search.svg") ;
  background-repeat: no-repeat; background-position: 2px 16px;
  background-color: inherit;
}

input.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input.search-input:hover::placeholder, input.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  outline: 0;
}

.search-button {
  box-sizing: border-box;
  width: 85px;
  height: 49px;

  color: #000000;

  border: none;
  border: 2px solid #000000;

  background: none;
}

.search-button:hover,
.search-button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-input:placeholder-shown + .search-button {
   display: none
}

.search-input:focus + .search-button {
   display: block;
}

.search-input:placeholder-shown {
  box-shadow: none;
}

.search-input:focus {
  box-shadow: 0 -2px 0 0 #000000 inset;
}

.user-navigation a {
  display: block;
  padding-left: 25px;
}

.login-link a {
  background-image: url("../img/user.svg") ;
  background-repeat: no-repeat; background-position: 0px 9px;
}

.compare a {
  margin-left: 2px;

  background-image: url("../img/compare.svg") ;
  background-repeat: no-repeat; background-position: 5px 10px;
}

.basket a {
  margin-left: 5px;

  background-image: url("../img/cart.svg") ;
  background-repeat: no-repeat; background-position: 2px 9px;
}

 .login-link {
   width: 80px;
   margin-left: 100px;
 }

 .compare {
   width: 100px;
   margin-left: 200px;
 }

 .basket {
   width: 90px;
   margin-left: 30px;
 }



.site-navigation {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  margin: 0;
  padding: 0;
  /* margin-bottom: 19px; */

  list-style: none;
}

.header-catalog {
  position: relative;
  /* width: 230px; */
  width: 255px;
}

.header-catalog:hover > a,
.header-catalog:focus > a {
  opacity: 0.6;
}

.header-catalog > a:active {
  opacity: 0.3;
}

.header-catalog:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;

  right: 9px;
  top: 10px;

  background-color: #b8a974;
}

.header-catalog:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;

  right: 16px;
  top: 3px;

  background-color: #b8a974;
}

.header-delivery {
  width: 160px;
  margin-left: 285px;
}
.header-warranty {
  width: 120px;
}
.header-contacts {
  width: 120px;
  margin-left: 100px;
}

.site-navigation {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f7e296;
}


.header-catalog-menu {
  position: absolute;
  left: -60px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  box-sizing: border-box;
  height: 161px;
  width: 1160px;

  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 33px;

  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  text-transform: none;


  list-style: none;
  background-color: #f7e296;
  /* Временно скрываем выпадающее меню*/
  display: none;
}

.header-catalog:hover .header-catalog-menu {
  display: flex;
}

.header-catalog-menu li {
  width: 200px;
  margin-right: 40px;
}

.header-catalog-menu li:nth-child(5) {
  margin-bottom: 36px;
}

.header-catalog-menu li:nth-child(n+4) {
  width: 160px;
}



.slider {
  position: relative;
  min-height: 516px;
  margin-bottom: 80px;
}

.slider-list {
  position: relative;

  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: flex;
  justify-content: space-between;

  box-shadow: 0 113px #f7e296 inset;
}

.slider-item::before {
  content: "";
  position: absolute;
  left: 600px;
  top: 39px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-left-column {
  display: flex;
  width: 560px;
}

.slider-right-column {
  width: 560px;
}

.slider-item:nth-child(1) .slider-image {
  margin: 4px auto;
}

.slider-item:nth-child(2) .slider-image {
  margin-top: 15px;
  margin-left: 116px;
}

.slider-item:nth-child(3) .slider-image {
  margin-top: 67px;
  margin-left: 32px;
}

.slider-item-number {
  position: absolute;
  top: -8px;
  right: 45px;

  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: 800;
  text-align: left;
  color: #ffffff;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: none;
}

.slider-item-slogan {
  position: relative;
  margin: 0px;
  margin-top: 84px;

  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  text-align: left;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: none;
}

.slider-item-description {
  width: 500px;
  /* width: 482px; */
  margin: 0;
  margin-top: 17px;

  letter-spacing: 0.01em;
}


.slider-table {
  border-collapse: collapse;
  margin-top: 49px;
}

.slider-table td {
padding: 0;
}

.col1 {
  width: 159px;
}

.col2 {
  width: 140px;
}

.col3 {
  width: 160px;
}

.slider-table-head {
  display: table-row-group;

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.slider-table-data {
  display: table-header-group;

  font-family: "gilroylight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

.slider-table-head td {
  padding-top: 8px;
}

.slider-controls {
  position: absolute;
  height: 12px;

  bottom: 174px;
  right: 66px;

  z-index: 5;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 17px;

  vertical-align: top;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-item {
  display: none;
}

#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
  display: flex;
}

#product-1:checked ~ .slider-controls label[for="product-1"]::before,
#product-2:checked ~ .slider-controls label[for="product-2"]::before,
#product-3:checked ~ .slider-controls label[for="product-3"]::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin: -2px;
  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 50%;
}


.catalog-menu {
  min-height: 242px;
  margin-bottom: 80px;
}

.catalog-menu-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 1160px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-menu-item {
  width: 160px;
  margin-right: 40px;

  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

.catalog-menu-item:nth-child(6) {
  margin-right: 0;
}

.catalog-menu-item a {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000000;
  text-decoration: none;
}

.catalog-menu-item a::before {
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-menu-item a::after{
  display: block;
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}

.catalog-menu-vr a::after{
  background-image: url("../img/popular-1.svg");
  background-position: 31px 50px;
}

.catalog-menu-monopods a::after{
  background-image: url("../img/popular-2.svg");
  background-position: 38px 40px;
}

.catalog-menu-actioncameras a::after{
  background-image: url("../img/popular-3.svg");
  background-position: 49px 37px;
}

.catalog-menu-fitness a::after{
  background-image: url("../img/popular-4.svg");
  background-position: 28px 49px;
}

.catalog-menu-smartwatches a::after{
  background-image: url("../img/popular-5.svg");
  background-position: 55px 30px;
}

.catalog-menu-quadcopters a::after{
  background-image: url("../img/popular-6.svg");
  background-position: 13px 48px;
}

.catalog-menu-item a:hover::before,
.catalog-menu-item a:focus::before {
  background-color: #f0c52e;
}

.catalog-menu-item a:active::after {
  opacity: 0.3;
}

.catalog-menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}


.services {
  margin-bottom: 0;
}

.services-wrapper {
  width: 100%;
  background-color: #e5e5e5;
  box-shadow: 0 100px #ffffff inset;
}

.services .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  box-sizing: border-box;
}

.services-controls {
  display: flex;
  flex-direction: column;
  width: 277px;
  padding-top: 80px;
  vertical-align: middle;
}

.services-list {
  box-sizing: border-box;
  width: 883px;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-left: 116px;


  margin-bottom: 69px;
  min-height: 319px;

  border-left: 7px solid #000000;

  list-style: none;
}

.services-item {
  min-height: 180px;

  background-repeat: no-repeat;
}

.services-item:nth-child(1) {
  background-image: url("../img/delivery.svg");
  background-position: 558px 24px;
}

.services-item:nth-child(2) {
  background-image: url("../img/warranty.svg");
  background-position: 543px 0px;
}

.services-item:nth-child(3) {
  background-image: url("../img/credit.svg");
  background-position: 534px 0px;
}

.services-item h3 {
  margin: 0;
  padding: 0;

  padding-top: 14px;
  background-color: transparent;
}

.service-description {
  width: 460px;
  margin-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 0.01em;
}

.services-controls label {
  cursor: pointer;
}

.services-item {
  display: none;
}

#delivery:checked ~ .services-list #slide-delivery,
#warranty:checked ~ .services-list #slide-warranty,
#credit:checked ~ .services-list #slide-credit {
  display: block;
}

#delivery:checked ~ .services-controls label[for="delivery"],
#warranty:checked ~ .services-controls label[for="warranty"],
#credit:checked ~ .services-controls label[for="credit"] {
  color: #f7e184;
  background-color: #000000;
  box-shadow: 117px 0 0 0 #000000;
}

#delivery:checked ~ .services-controls label[for="delivery"]::before,
#warranty:checked ~ .services-controls label[for="warranty"]::before,
#credit:checked ~ .services-controls label[for="credit"]::before {
  display: none;
}


.logotypes {
  /* min-height: 288px; */
  margin-top: 94px;
  margin-bottom: 93px;
}

.logotypes-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.logotypes-item {
  margin-right: 40px;
}

.logotypes-item:nth-child(4) {
  margin-right: 0;
}

.logotypes-link {
  display: flex;
}

.logotypes-link img.color {
  display: none;
}

.logotypes-link:hover img,
.logotypes-link:focus img
 {
  display: none;
}
.logotypes-link:hover img.color,
.logotypes-link:focus img.color {
  display: block;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}


.transport-list a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;

  background-color: #ffffff;
  border: none;
}



.about-us {
  position: relative;
  width: 480px;
  min-height: 573px;
}

.contacts {
  position: relative;
  width: 560px;
  min-height: 573px;
}

.about-us:before,
.contacts:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 0;
  left: 0;

  background-color: #000000;
}

.about-us-title,
.contacts-title {
  margin: 0;
  padding: 0;

  padding-top: 52px;
  margin-bottom: 43px;
}


.about-us-description {
  display: block;
  margin-bottom: 30px;
}

.transport-list {
  margin: 0;
  padding: 0;

  margin-top: 67px;
  margin-left: 18px;

  list-style-type: circle;

}

.transport-list li {
  padding-left: 18px;

}

.contacts-map {
  margin-top: 40px;
}

/*-----------------------*/
/*-----------------------*/
/*Cтраница каталога*/
/*-----------------------*/
/*-----------------------*/

.inner-page .main-header {
  margin-bottom: 37px;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  margin-bottom: 25px;

}


.breadcrumbs {
  list-style: none;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  margin-bottom: 39px;
}


.breadcrumbs a,
.breadcrumbs-current {
  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;

  background-color: #ffffff;
  border: none;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.filter-title,
.sorting-title {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;

  color: #000000;
  letter-spacing: 0.2em;
}

.filters form {
font-size: 14px;
line-height: 40px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter legend {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter ul {
  list-style: none;
  letter-spacing: 0.01em;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.catalog-list {
  list-style: none;
}

.catalog-item-name {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

.catalog-item-price {
  font-family: "gilroylight", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

.catalog-item:hover img,
.catalog-item:focus img,
.catalog-item:active img {
  opacity: 0.7;
}

.catalog-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.catalog-left-side {
  background-color: #efefef;
  flex-grow: 1;

  box-shadow: 0 70px #dcdcdc inset;
}

.catalog-right-side {
  flex-grow: 1;

  box-shadow: 0 70px #efefef inset;
}

.catalog-container {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
}

.filters-column {
  box-sizing: border-box;
  width: 348px;
  min-height: 1288px;
  padding-left: 80px;
  padding-right: 28px;
  background: #efefef;
  box-shadow: 0 70px #dcdcdc inset;
}

.filter-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 248px;
}

.catalog-column {
  width: 852px;
  padding-left: 72px;
  padding-right: 20px;

  box-shadow: 0 70px #efefef inset;
}

.sorting {
  height: 70px;
  margin-bottom: 70px;
}

.sorting-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 40px;

  /* Временно для сетки */
  min-height: 466px;
  /* background-color: transparent; */
  /* box-shadow: inset 0 0 0 2px purple; */
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 77px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}


/*------------------*/
/*------------------*/
/*------------------*/

.main-footer {
  margin-top: 67px;
  color: #ffffff;
  letter-spacing: 0.01em;

  background-color: #464646;
}


.main-footer-wrapper {
  width: 100%;
  background-color: #464646;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 66px;
  padding-bottom: 66px;
  /* margin-top: 82px; */
}


.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer-top > a {
  width: 162px;
  height: 35px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  line-height: 24px;

  list-style: none;
}

.footer-user-navigation a {
  display: block;
  /* padding-left: 25px; */
  margin-left: 41px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #464646;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}


.footer-login-link a::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 13px;
  height: 12px;

  margin-right: 12px;
  background-image: url("../img/user-yellow.svg") ;
  background-repeat: no-repeat;
}

.footer-compare a::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;

  margin-right: 11px;
  background-image: url("../img/compare-yellow.svg") ;
  background-repeat: no-repeat;
}

.footer-basket a::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 12px;
  height: 12px;

  margin-right: 10px;
  background-image: url("../img/cart-yellow.svg") ;
  background-repeat: no-repeat;
}

.footer-user-navigation a:hover::before,
.footer-user-navigation a:focus::before {
  opacity: 0.6;
}

.footer-user-navigation a:active::before {
  opacity: 0.3;
}

.main-footer ul {
  list-style: none;
}

.middle-menu a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #464646;
}

.middle-menu a:hover,
.middle-menu a:focus
 {
  opacity: 0.6;
}

.middle-menu a:active
 {
  opacity: 0.3;
}

.footer-copyright:hover,
.footer-copyright:focus
 {
  opacity: 0.6;
}

.footer-copyright:active
 {
  opacity: 0.3;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  height: 25px;

  margin-bottom: 61px;
}

.footer-middle .column-1 {
  width: 260px;

  line-height: 21px;
  letter-spacing: 0;
}

.footer-middle .column-2 {
  width: 427px;

  line-height: 27px;
}

.middle-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-middle .column-3 {
  width: 260px;

  text-align: right;
  line-height: 21px;
  letter-spacing: 0;
}


.footer-bottom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  height: 35px;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 15px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}


.footer-bottom .column-2 {
  width: 142px;
  margin-right: 483px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 142px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.fb-button {
  background-image: url("../img/fb.svg");
}

.instagram-button {
  background-image: url("../img/instagram.svg");
}

.twitter-button {
  background-image: url("../img/twitter.svg");
}

.footer-copyright {
  width: 27px;
  height: 35px;
}


.modal-write-us {
  position: relative;
  box-sizing: border-box;
  width: 960px;
  padding-top: 95px;
  padding-bottom: 75px;
  padding-left: 100px;
  padding-right: 100px;

  color: #000000;
  background-color: #ffffff;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  /* Временно */
  /* outline: 1px solid gray; */
}

.write-us-form label {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;

  background-color: #ffffff;
  border: none;
}

.write-us-form input {
  font-family: "open_sansregular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  /* min-height: 390px; */

  /* Временно */
  /* outline: 1px solid gray; */
}

.write-us-item {
  margin: 0;
  margin-bottom: 35px;

  /* Временно */
  /* outline: 1px solid gray; */
}

.write-us-item:nth-child(1),
.write-us-item:nth-child(2) {
  width: 360px;

}

.write-us-item:nth-child(3) {
  width: 100%;
}

.write-us-item label {
  display: block;
  margin-bottom: 6px;
}

.write-us-item input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;

  /* Временно */
  /* outline: 1px solid gray; */
}

.write-us-text {
  min-height: 156px;
}

.write-us-text::-webkit-input-placeholder {
  vertical-align: top;
}

.modal-close {
  position: absolute;
  top: 23px;
  right: 22px;
  width: 55px;
  height: 55px;

  border-radius: 27px;
  border: none;

  background-color: #f0c52e;
  opacity: 0.5;
}

.modal-close:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;

  margin-left: -15px;

  background-color: #ffffff;

  transform: rotate(45deg);
}

.modal-close:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;

  margin-left: -15px;

  background-color: #ffffff;

  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  position: relative;

  box-sizing: border-box;
  width: 960px;
  height: 559px;


  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
